::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}

html {
    scroll-behavior: smooth;
}